#tabs {
  display: flex;
  gap: 8px;
  color: var(--text);

  .tab,
  .add-new-radar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid var(--text);
      cursor: pointer;
      color: var(--bg);
      background-color: var(--text);
    }
    &.active {
      border-bottom: 2px solid var(--text);
    }
  }
}
