:root {
  --bg: #320a6b;
  --text: #78b9b5;
  --mid: #0f828c;
  --hard: #065084;
  --unit: 16px;
}

html {
  background: var(--bg);
}

#radar {
  margin: var(--unit);
}

.label {
  color: white;
}

.bullet:hover {
  cursor: pointer;
  stroke-width: 3px;
  stroke: var(--hard);
}

.bullet-active {
  stroke-width: 3px;
  stroke: var(--hard);
}

.vertical-line {
  position: absolute;
  top: var(--unit);
  left: calc(50% - 1px);
  width: 2px;
  height: calc(100vh - var(--unit) * 2);
  background-color: var(--text);
}

.radar-circle {
  transition: 0.3s;
  fill: var(--bg);
  position: absolute;
  pointer-events: visibleFill;
}

.group-item:hover {
  cursor: pointer;
  transition: 0.3s;
  text-decoration: underline;
}

input,
textarea {
  background: white;
  color: black;
}

#editForm {
  border-color: white;
  border-radius: 8px;
}

#tabs {
  display: flex;
  gap: 8px;
  color: var(--text);

  .tab,
  .add-new-radar {
    padding: 8px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid var(--text);
      cursor: pointer;
      color: white;
    }
    &.active {
      border-bottom: 2px solid var(--text);
      color: white;
    }
  }
}
