@use "./shared/ui/tabs/tabs.scss";
@use "./features/sorter/sorter.scss";
@use "./shared/styles/shared.scss";
@use "./entities/radar/ui/radar/radar.scss";
@use "./entities/bullet/bullet.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --bg: #320a6b;
  --text: #78b9b5;
  --mid: #0f828c;
  --hard: #065084; */
:root {
  --bg: #f5efe7;
  --text: #3e5879;
  --mid: #d8c4b6;
  --hard: #213555;
  --unit: 16px;
}

html {
  background: var(--bg);
}

#radar {
  margin: var(--unit);
}

.header {
  border-bottom: 1px solid var(--text);
}
