:root {
  --bg: #320a6b;
  --text: #78b9b5;
  --mid: #0f828c;
  --hard: #065084;
  --unit: 16px;
}

html {
  background: var(--bg);
}

#radar {
  margin: var(--unit);
}

.label {
  color: white;
}

.bullet:hover {
  cursor: pointer;
  stroke: red;
}

.vertical-line {
  position: absolute;
  top: var(--unit);
  left: calc(50% - 1px);
  width: 2px;
  height: calc(100vh - var(--unit) * 2);
  background-color: var(--text);
}
