@import "./shared/ui/tabs/tabs.scss";
@import "./features/sorter/sorter.scss";
/* --bg: #320a6b;
  --text: #78b9b5;
  --mid: #0f828c;
  --hard: #065084; */
:root {
  --bg: #f5efe7;
  --text: #3e5879;
  --mid: #d8c4b6;
  --hard: #213555;
  --unit: 16px;
}

html {
  background: var(--bg);
}

#radar {
  margin: var(--unit);
}

.header {
  border-bottom: 1px solid var(--text);
}

input,
textarea {
  border: 1px solid black;
}

.label {
  color: white;
}

.bullet:hover {
  cursor: pointer;
  stroke-width: 3px;
  stroke: var(--hard);
}

.active-bullet {
  stroke-width: 3px;
  stroke: var(--hard);
}

.vertical-line {
  position: absolute;
  top: var(--unit);
  left: calc(50% - 1px);
  width: 2px;
  height: calc(100vh - var(--unit) * 2);
  background-color: var(--text);
}

.radar-circle {
  transition: 0.3s;
  fill: var(--bg);
  position: absolute;
  pointer-events: visibleFill;
}

input,
textarea {
  background: white;
  color: black;
}

#editForm {
  border-color: white;
  border-radius: 8px;
}
